@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }

    .secondary-active {
    @apply after:flex after:w-full after:h-[2px] after:mt-[1px] after:bg-white;
    }


    .secondary-underline-hover {
    @apply hover:after:flex hover:after:w-full hover:after:h-[2px] hover:after:mt-[1px] hover:after:bg-white;
    }

}
